@charset "utf-8";


/* box-sizing:paddimg
 */
*{margin: 0; padding: 0; box-sizing:border-box;}
body{font-family: 'Copperplate Gothic'; 
  src:url(../fonts/Copperplate\ Gothic\ Light\ Regular.ttf) format('truetype');
   font-size: 15px; line-height: 1.3; color: #232023;
   letter-spacing:-0.7px;}
a{color: #232023; text-decoration: none;}
img{border: 0; vertical-align: top;}
ul{list-style: none;}

.clear::after{content: ''; display: block; clear: both;}